@import "~materialize-css/dist/css/materialize.min.css";

.menuGroup {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: auto;
  width: 50%;
}
.menuGroup > input {
  margin-left: 20px;
}
.menuGroup > button {
  margin-left: 10px;
}
.group {
  margin: 10px;
  border: gray solid 3px;
  border-radius: 5px;
}
.divImgCollage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.group > div {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.viewBlock{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 10px;
}
.divImg, .divImgCollage {
  border: blueviolet solid 4px;
  border-radius: 5px;
  margin: 10px;
}

.img {
  padding: 5px;
  width: 100%;
  cursor: pointer;
}